conda
ipydatagrid
ipykernel
ipympl
ipywidgets
json5
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab-pygments
jupyterlab-widgets
jupyterlab_server
matplotlib
matplotlib-inline
pandas
plotly
voila
