ipydatagrid
ipykernel
ipympl
ipython
ipython-genutils
ipywidgets
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab-pygments
jupyterlab-widgets
jupyterlab_server
matplotlib
matplotlib-inline
numpy
pandas
plotly
voila
